:root {
  --inter-semibold-18px-font-family: "Inter", Helvetica;
  --inter-semibold-18px-font-weight: 600;
  --inter-semibold-18px-font-size: 18px;
  --inter-semibold-18px-letter-spacing: 0px;
  --inter-semibold-18px-line-height: 22px;
  --inter-semibold-18px-font-style: normal;
}
